<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Búsqueda de conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="userData">
      <ion-label>
        <h2>Información del usuario</h2>
        <p>{{ userData | json }}</p>
      </ion-label>
    </ion-item>
    
    <ion-item *ngIf="vehicleData">
      <ion-label>
        <h2>Información del vehículo</h2>
        <p>{{ vehicleData | json }}</p>
      </ion-label>
    </ion-item>
    
    <ion-item *ngIf="origen">
      <ion-label>
        <h2>Origen</h2>
        <p>{{ origen | json }}</p>
      </ion-label>
    </ion-item>
    
    <ion-item *ngIf="destino">
      <ion-label>
        <h2>Destino</h2>
        <p>{{ destino | json }}</p>
      </ion-label>
    </ion-item>
    
    <ion-item *ngIf="problemData">
      <ion-label>
        <h2>Problema seleccionado</h2>
        <p>{{ problemData | json }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>