<ion-content [fullscreen]="true" class="ion-no-padding">
  <div class="container-mapa">
    <div class="header-mapa">
      <img src="../../assets/Logo.svg" alt="Desvare">
    </div>
    <app-mapa [destinoSeleccionado]="destinoSeleccionado"></app-mapa>
  </div>

  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="0.4" [breakpoints]="[0.4, 0.4, 0.92]" [backdropDismiss]="false"
    [backdropBreakpoint]="0.5" mode="ios" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header mode="ios"></ion-header>
      <ion-content class="ion-padding">
        <p class="title-vehicle">Tu vehiculo</p>
        <ion-item class="my-vehicle-card">
          <img slot="start" src="../../assets/icon-vehicle-type/Automovil.svg" alt="vehiculo">
          <ion-label>
            <ion-text>
              <h3>Chevrolet</h3>
              <p>Spark</p>
            </ion-text>
          </ion-label>
          <div slot="end" class="placa">
            <h5>ABC123</h5>
          </div>
        </ion-item>
        <div class="destination-card-ruter">
          <ion-list>
            <ion-item class="ion-no-margin ion-no-padding">
              <img slot="start" src="assets/iconsax-svg/All/bold/location.svg" alt="location">
              <ion-label>
                <p>Origen:</p>
                <h3>Diagonal 79a bis # 52-67</h3>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-no-margin ion-no-padding">
              <img slot="start" class="icon-destino" src="assets/iconsax-svg/All/bold/location.svg" alt="location">
              <ion-label>
                <p>Destino:</p>
                <h3>Calle 2 # 93d-66</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div class="container-radio">
          <h4>¿Qué problema tiene el vehículo?</h4>
          <ion-list *ngIf="!showList">
            <ion-item *ngFor="let problem of problems" (click)="selectProblem(problem.id)"
              [class.selected]="selectedProblem === problem.id" button="true" class="ion-no-margin ion-no-padding">
              <img src="assets/iconsax-svg/All/bulk/setting-2.svg" slot="start" alt="location">
              <ion-label>
                <ion-text>
                  <h3>{{ problem.title }}</h3>
                  <p>{{ problem.description }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>

          <div *ngIf="showList" class="container-form">
            <h2>{{ obtenerTituloProblema() }}</h2>
            <form (ngSubmit)="buscarGrua()">
              <ng-container *ngFor="let field of obtenerCamposFormulario()">
                <ion-item *ngIf="field.type === 'textarea'" lines="none" mode="ios" class="input-desvare">
                  <img slot="start" src="assets/iconsax-svg/All/bold/message.svg" alt="lock">
                  <ion-input [(ngModel)]="formData[field.name]" [name]="field.name" label="{{ field.label }}"
                    label-placement="floating" placeholder="Detalla el problema"></ion-input>
                </ion-item>
                <ion-item *ngIf="field.type === 'toggle'" lines="none" mode="ios" class="ion-margin-top">
                  <ion-label>{{ field.label }}</ion-label>
                  <ion-toggle slot="end" [(ngModel)]="formData[field.name]" [name]="field.name"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="field.type === 'select'" lines="none" mode="ios" class="input-desvare">
                  <ion-select [(ngModel)]="formData[field.name]" [name]="field.name" mode="ios" label="{{ field.label }}" label-placement="floating">
                    <ion-select-option *ngFor="let option of field.options" [value]="option">{{ option
                      }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-segment *ngIf="field.type === 'segment'" [(ngModel)]="formData[field.name]" [name]="field.name"
                  mode="ios">
                  <ion-segment-button *ngFor="let option of field.options" [value]="option">
                    <ion-label>{{ option }}</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ng-container>
              <div class="container-button">
                <ion-button (click)="showList = false; selectedProblem = null" color="white"
                  mode="ios">Volver</ion-button>
                <ion-button expand="block" size="large" mode="ios" type="submit" class="full-width-button-style">Buscar
                  grúa</ion-button>
              </div>
            </form>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>