<ion-content [fullscreen]="true" class="ion-no-padding">

  <div class="container-mapa">
    <div class="header-mapa">
      <img src="../../assets/Logo.svg" alt="Desvare">
    </div>

    <app-mapa [destinoSeleccionado]="destinoSeleccionado"></app-mapa>

  </div>

  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="0.25" [breakpoints]="[0.25, 0.5, 0.75]"
    [backdropDismiss]="false" [backdropBreakpoint]="0.5" mode="ios" (willDismiss)="onWillDismiss($event)">


    <ng-template>
      <ion-header mode="ios">
        <ion-toolbar mode="ios">
          <ion-title>Tu vehiculo</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <img slot="start" src="../../assets/icon-vehicle-type/Automovil.svg" alt="vehiculo">
          <ion-label>
            <ion-text>
              <h3>
                Chevrolet
              </h3>
              <p>
                Spark
              </p>
            </ion-text>
          </ion-label>
          <ion-text slot="end">
            <p>ABC123</p>
          </ion-text>
        </ion-item>
        <div class="destination-card-ruter">
          <ion-list>
            <ion-item class="ion-no-margin ion-no-padding">
              <img slot="start" src="assets/iconsax-svg/All/bold/location.svg" alt="location">
              <ion-label>
                <p>Origen:</p>
                <h3>Diagonal 79a bis # 52-67</h3>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-no-margin ion-no-padding">
              <img slot="start" class="icon-destino" src="assets/iconsax-svg/All/bold/location.svg" alt="location">
              <ion-label>
                <p>Destino:</p>
                <h3>Calle 2 # 93d-66</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div class="container-radio">
          <h4>¿Que problema tiene el vehiculo?</h4>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-text>
                  <h3>Estoy estrellado</h3>
                  <p>El vehiculo se encuentra estrellado</p>
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-text>
                  <h3>Estoy en un sotano</h3>
                  <p>El vehiculo se encuentra en un sotano y no puede salir</p>
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-text>
                  <h3>Fallas mecánicas o electricas</h3>
                  <p>El vehiculo no prende o no funciona</p>
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-text>
                  <h3>Descachado</h3>
                  <p>Coji un hueco o estoy encunetado y no puedo salir</p>
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-text>
                  <h3>Salida de los patios</h3>
                  <p>Necesito sacar el vehiculo de los patios</p>
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-text>
                  <h3>Otro</h3>
                  <p>Tengo un problema mas complejo</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>