<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="tab-button">
      <img src="assets/iconsax-svg/All/bulk/safe-home.svg" alt="Mi garaje">
      <ion-label>Mi garaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab-button" selected>
      <img src="assets/iconsax-svg/All/bulk/setting-2.svg" alt="Desvare">
      <ion-label>Desvare</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab-button">
      <img src="assets/iconsax-svg/All/bulk/profile-circle.svg" alt="Mi cuenta">
      <ion-label>Mi cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>