<ion-content [fullscreen]="true">
  <div class="container-mapa">
    <div class="header-mapa">
      <img src="../../assets/Logo.svg" alt="Desvare">
    </div>
    <app-mapa (addressChanged)="onAddressChanged($event)" [destinoSeleccionado]="destinoSeleccionado"></app-mapa>
    <div class="destination-card">
      <div class="input-search" (click)="abrirModalDestino()">
        <img src="assets/iconsax-svg/All/linear/search-normal-1.svg" alt="search">
        <p>¿A dónde vamos?</p>
      </div>
      <div class="recent-destinations">
        <div class="destination-item">
          <img src="assets/iconsax-svg/All/bold/location.svg" alt="location">
          <span>Carrera 9 # 81b-23</span>
        </div>
        <div class="destination-item">
          <img src="assets/iconsax-svg/All/bold/location.svg" alt="location">
          <span>Dg. 79a Bis #52-67</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>