<ion-header mode="ios" class="ion-padding-vertical">
  <ion-toolbar mode="ios" class="header-user-registration">
    <ion-title slot="start">{{ getTitleForCurrentStep() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <img src="assets/iconsax-svg/All/bulk/close-circle.svg" alt="Cerrar">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="my-vehicle-card">
    <img slot="start" src="../../assets/icon-vehicle-type/Automovil.svg" alt="vehiculo">
    <ion-label>
      <ion-text *ngIf="!marcaSeleccionada">
        <h3>Carro y camioneta</h3>
      </ion-text>
      <ion-text *ngIf="marcaSeleccionada">
        <h3>{{ marcaSeleccionada }}</h3>
        <p>{{ modeloSeleccionado }}</p>
      </ion-text>
    </ion-label>
    <div slot="end" class="placa" *ngIf="placa">
      <h5>{{ placa }}</h5>
    </div>
  </ion-item>

  <!-- Sección de selección de vehículo -->
  <div *ngIf="currentStep === 'vehicle-selection'">
    <!-- Sección de Marcas -->
    <div *ngIf="!marcaSeleccionada">
      <ion-searchbar 
        [(ngModel)]="searchTerm" 
        (ionChange)="filterMarcas()" 
        placeholder="Buscar marca">
      </ion-searchbar>

      <ion-list>
        <ion-item *ngFor="let marca of filteredMarcas" (click)="selectMarca(marca)">
          <ion-label>{{ marca }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Sección de Modelos -->
    <div *ngIf="marcaSeleccionada && !modeloSeleccionado">
      <ion-item>
        <ion-label>Marca seleccionada: {{ marcaSeleccionada }}</ion-label>
        <ion-button slot="end" (click)="backToMarcas()">Cambiar</ion-button>
      </ion-item>

      <ion-searchbar 
        [(ngModel)]="searchTerm" 
        (ionChange)="filterModelos()" 
        placeholder="Buscar modelo">
      </ion-searchbar>

      <ion-list>
        <ion-item *ngFor="let modelo of filteredModelos" (click)="selectModelo(modelo)">
          <ion-label>{{ modelo }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Sección de Placa -->
    <div *ngIf="marcaSeleccionada && modeloSeleccionado">

      <div class="title-form">
        <h2>¿Cómo es la placa?</h2>
        <p>Escribe la placa del vehículo para que el conductor te logre identificar</p>
      </div>

      <form (ngSubmit)="registerUser()" class="login-form">
        <ion-item lines="none" mode="ios" class="input-desvare">
          <img slot="start" src="assets/iconsax-svg/All/bulk/barcode.svg" alt="lock">
          <ion-input [(ngModel)]="placa" label="Placa del vehículo" name="placa" required label-placement="floating" placeholder="ABC-123"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!placa">
          Continuar
        </ion-button>
      </form>
    </div>
  </div>

  <!-- Sección de información personal -->
  <div *ngIf="currentStep === 'personal-info'">

    <div class="title-form">
      <h2>Y por ultimo!</h2>
      <p>Agrega los siguientes datos para que el conductor pueda contactarte</p>
    </div>

    <form [formGroup]="personalInfoForm" (ngSubmit)="finalizarRegistro()" class="login-form">
      <ion-item lines="none" mode="ios" class="input-desvare">
        <img slot="start" src="assets/iconsax-svg/All/bulk/profile-circle.svg" alt="lock">
        <ion-input formControlName="username" type="text" label="Nombre de usuario" required label-placement="floating" placeholder="Como te llamas?"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="personalInfoForm.get('username')?.hasError('required') && personalInfoForm.get('username')?.touched">
        El nombre de usuario es requerido.
      </ion-text>

      <ion-item lines="none" mode="ios" class="input-desvare">
        <img slot="start" src="assets/iconsax-svg/All/bulk/message.svg" alt="lock">
        <ion-input formControlName="email" type="email" label="Email" required label-placement="floating" placeholder="tuemail@ejemplo.com"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="personalInfoForm.get('email')?.hasError('required') && personalInfoForm.get('email')?.touched">
        El email es requerido.
      </ion-text>
      <ion-text color="danger" *ngIf="personalInfoForm.get('email')?.hasError('email') && personalInfoForm.get('email')?.touched">
        Por favor, ingrese un email válido.
      </ion-text>

      <ion-item lines="none" mode="ios" class="input-desvare">
        <img slot="start" src="assets/iconsax-svg/All/bulk/call.svg" alt="lock">
        <ion-input formControlName="phone" type="tel" label="Número celular" required label-placement="floating" placeholder="000 000 0000"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="personalInfoForm.get('phone')?.hasError('required') && personalInfoForm.get('phone')?.touched">
        El número celular es requerido.
      </ion-text>
      <ion-text color="danger" *ngIf="personalInfoForm.get('phone')?.hasError('pattern') && personalInfoForm.get('phone')?.touched">
        Por favor, ingrese un número celular válido.
      </ion-text>

      <ion-button expand="block" type="submit" [disabled]="personalInfoForm.invalid">
        Finalizar registro
      </ion-button>
    </form>
  </div>

  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
</ion-content>