<ion-header mode="ios"></ion-header>

<ion-content class="ion-padding">
  <h1 class="title-confirm">Confirma el trayecto</h1>
  <ion-item class="my-vehicle-card">
    <img slot="start" [src]="vehicleData?.icon || '../../assets/icon-vehicle-type/Automovil.svg'"
      [alt]="vehicleData?.name || 'vehículo'">
    <ion-label>
      <ion-text>
        <h3>{{ vehicleData.marca }}</h3>
        <p>{{ vehicleData.modelo }}</p>
      </ion-text>
    </ion-label>
    <div slot="end" class="placa">
      <h5>{{ vehicleData.placa }}</h5>
    </div>
  </ion-item>

  <div class="destination-card-ruter">
    <ion-list>
      <ion-item class="ion-no-margin ion-no-padding">
        <img slot="start" src="assets/iconsax-svg/All/bold/location.svg" alt="location">
        <ion-label>
          <p>Origen:</p>
          <h3>{{ origen?.address }}</h3>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <img slot="start" class="icon-destino" src="assets/iconsax-svg/All/bold/location.svg" alt="location">
        <ion-label>
          <p>Destino:</p>
          <h3>{{ destino?.address }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="container-question">
    <h3>¿Qué problema tiene el vehículo?</h3>
    
    <!-- Lista inicial de problemas -->
    <div class="list-question" *ngIf="!selectedProblem">
      <ion-list mode="ios">
        <ion-item mode="ios" button="true" *ngFor="let problem of problemList" (click)="selectProblem(problem)">
          <ion-label>
            <h2>{{ problem.title }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  
    <!-- Formulario específico para el problema seleccionado -->
    <div *ngIf="selectedProblem" class="detail-problem">
      <ion-item mode="ios" lines="none" (click)="goBack()" class="ion-no-margin ion-no-padding">
        <img slot="start" src="../../assets/iconsax-svg/All/linear/arrow-left.svg" alt="back">
        <ion-label>
          <h2>{{ selectedProblem.title }}</h2>
        </ion-label>
      </ion-item>
      
      <form (ngSubmit)="confirmarServicio()" class="form-question">
        <!-- Preguntas específicas para el problema seleccionado -->
        <div *ngFor="let question of selectedProblem.questions">

          <ion-item lines="none" mode="ios" class="input-desvare" *ngIf="question.type === 'text'">
            <img slot="start" [src]="question.icon" [alt]="question.label">
            <ion-input type="text" [label]="question.label" required label-placement="floating"
              [placeholder]="question.placeholder" mode="ios"></ion-input>
          </ion-item>
          
          <ion-item *ngIf="question.type === 'select'" mode="ios" lines="none" class="select-desvare">
            <img slot="start" src="assets/iconsax-svg/All/bulk/warning-2.svg" alt="select">
            <ion-select [placeholder]="question.placeholder" mode="ios" label-placement="floating" [label]="question.label">
              <ion-select-option *ngFor="let option of question.options" mode="ios" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item *ngIf="question.type === 'toggle'" mode="ios" lines="none">
            <ion-label>{{ question.label }}</ion-label>
            <ion-toggle slot="end" mode="ios"></ion-toggle>
          </ion-item>
        </div>
        
        <ion-button expand="block" type="button" (click)="confirmarServicio()">Buscar gruas</ion-button>
      </form>
    </div>
  </div>

  <ion-button expand="block" fill="outline" color="white" (click)="cancelar()">Cancelar</ion-button>
</ion-content>