<ion-header mode="ios">
  <ion-toolbar class="header-address">
    <img slot="start" (click)="dismiss()" src="../../assets/iconsax-svg/All/linear/arrow-left.svg" alt="arrow-left">
    <ion-title class="title-address">¿A dónde vamos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-address">

    <ion-item class="input-address" lines="none" mode="ios">
      <img slot="start" src="../../assets/iconsax-svg/All/bold/location.svg" alt="location">
      <ion-input class="no-border" label="Origen" label-placement="floating" fill="outline" placeholder="Enter text"
        [value]="origen"></ion-input>
    </ion-item>

    <ion-item class="input-address custom-input" lines="none" mode="ios">
      <img slot="start" class="icon-destino" src="../../assets/iconsax-svg/All/bold/location.svg" alt="location">
      <ion-input #destinoInput class="destino-input" label="Destino" labelPlacement="stacked" [(ngModel)]="destino"
        placeholder="Ingrese el destino"></ion-input>
    </ion-item>

    <div class="recent-destinations">
      <div class="destination-item">
        <img src="assets/iconsax-svg/All/bold/location.svg" alt="location">
        <span>Carrera 9 # 81b-23</span>
      </div>
      <div class="destination-item">
        <img src="assets/iconsax-svg/All/bold/location.svg" alt="location">
        <span>Dg. 79a Bis #52-67</span>
      </div>
    </div>
  </div>
</ion-content>