<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscador de Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select label="Categoría" [(ngModel)]="categoriaSeleccionada" (ionChange)="onCategoriaChange()">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Marca" [(ngModel)]="marcaSeleccionada" (ionChange)="onMarcaChange()" [disabled]="!categoriaSeleccionada">
        <ion-select-option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Modelo" [(ngModel)]="modeloSeleccionado" [disabled]="!marcaSeleccionada">
        <ion-select-option *ngFor="let modelo of modelos" [value]="modelo">{{ modelo }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="categoriaSeleccionada && marcaSeleccionada && modeloSeleccionado">
    <ion-label>
      Vehículo seleccionado: {{ categoriaSeleccionada }} {{ marcaSeleccionada }} {{ modeloSeleccionado }}
    </ion-label>
  </ion-item>
</ion-content>