/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Ionic Dark Mode (commented out) */
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* Font Face Declarations */
@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Global Styles */
body {
  font-family: 'Gilroy', sans-serif;
}

ion-input,
ion-label,
ion-button {
  font-family: 'Gilroy', sans-serif !important;
}

ion-button {
  font-weight: 800;
  font-size: 18px;
}

input::placeholder {
  font-family: 'Gilroy', sans-serif !important;
}

/* Ion Segment Styles */
ion-segment {
  font-family: 'Gilroy', sans-serif !important;
  background-color: #F3F4F6;
  --background: #F3F4F6;

  ion-segment-button {
    padding: 10px;
    --color: #9CA3AF;
    --color-checked: #4B5563;
    font-weight: 600;
  }

  ion-label {
    font-size: 16px;
    color: #9CA3AF;
  }

  .segment-button-checked ion-label {
    color: #4B5563;
  }
}

/* Ion Item Styles */
.custom-border-item,
ion-item {
  --border-color: #E5E7EB !important;
}

.custom-item-right {
  --inner-padding-end: 0;

  ::ng-deep .item-inner {
    padding-right: 0 !important;
  }
}

/* Input Styles */
.input-desvare {
  padding: 10px 0;
  display: block;
  --background: #fff;
  background-color: #fff;
  border-radius: var(--Padding-24, 24px);
  border: 1px solid var(--Tailwind-gray-200, #E5E7EB);
  background: var(--Tailwind-white, #FFF);
  transition: box-shadow 0.3s ease;

  &.item-has-focus {
    box-shadow: 0 0 0 3px rgba(34, 61, 98, 0.5);
    border-color: #223D62;

    ion-label {
      color: #223D62;
    }
  }

  img {
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
    margin-right: 10px;
    filter: invert(68%) sepia(13%) saturate(246%) hue-rotate(176deg) brightness(92%) contrast(87%);
  }

  ion-label {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    color: #9CA3AF;
    font-weight: 800 !important;
  }

  ion-input {
    font-family: 'Gilroy', sans-serif;
    color: #000;
    font-weight: 400;
    --placeholder-font-family: 'Gilroy', sans-serif;
    --label-font-weight: 600 !important;
    --placeholder-font-weight: 600 !important;
    --placeholder-color: #9CA3AF;
  }

  .destino-input.ion-focused {
    --color: #223D62;
    --placeholder-color: rgba(34, 61, 98, 0.5);
  }
}

/* Error Text Styles */
.text-error p {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  color: red !important;
}

/* Custom Toast Styles */
.custom-welcome-toast {
  --background: #223D62;
  --color: #ffffff;
  --border-radius: 25px;
  --box-shadow: none;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 16px;
  --padding-end: 16px;
  
  text-align: left;
  
  .toast-wrapper {
    max-width: 90%;
  }
  
  .toast-message {
    font-size: 14px;
  }
  
  ion-icon {
    color: #4caf50;
    font-size: 20px;
  }
}




.title-vehicle {
  font-size: 14px;
  font-weight: 600;
  color: #9CA3AF;
  margin: 0 0 8px 0;
  font-family: 'Gilroy', sans-serif;
}

// Vehicle Card
.my-vehicle-card {
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);

  h3 {
      font-size: 16px;
      font-weight: 600;
      color: #4B5563;
  }

  p {
      font-size: 14px;
      font-weight: 400;
      color: #4B5563;
  }
  // License Plate
  .placa {
      border-radius: 4px;
      border: 1px solid #EAB308;
      background: #FBBF24;
      box-shadow: 0px 0px 6px 0px rgba(234, 179, 8, 0.80);
      display: flex;
      padding: 6px 8px;
      justify-content: center;
      align-items: center;

      h5 {
          font-family: 'Gilroy', sans-serif !important;
          overflow: hidden;
          color: #713F12;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 700;
          margin: 0;
      }
  }
}

.full-width-button-style {
  width: 100% !important;
}